<form method="post">
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="text" name="apellido1" placeholder="Apellido 1">
    <input type="text" name="apellido2" placeholder="Apellido 2">
    <input type="text" name="dni" placeholder="DNI">
    <input type="text" name="telefono" placeholder="Teléfono">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="n_expediente" placeholder="Nº Expediente">
    <input type="text" name="delegado" placeholder="Delegado">
    <input type="password" name="password" placeholder="Contraseña">

    <button type="submit">Crear alumno</button>
</form>